<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Title -->
  <title>LeaseTerShui: Volkswagen Polo</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../../favicon.ico">

  <!-- Google Fonts -->
  <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="../../assets/vendor/font-awesome/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="../../assets/vendor/hs-megamenu/src/hs.megamenu.css">
  <link rel="stylesheet" href="../../assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="../../assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="../../assets/vendor/animate.css/animate.min.css">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="../../assets/css/theme.css">
</head>
<body>

  
  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--floating-md">
    <div id="logoAndNav" class="container">
      <div class="u-header__section u-header--floating__inner">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar u-header__navbar--no-space">
          <!-- Logo -->
          <a class="u-header__navbar-brand-center" href="index.html" aria-label="Front">
            <img src="../../assets/svg/icons/icon-46.svg" width="46px" height="46px" alt="Logo">
            <span class="u-header__navbar-brand-text">LeaseTerShui</span>
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
            <ul class="navbar-nav u-header__navbar-nav">
              <!-- Home -->
              <!-- <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="index.html">LeaseTerShui</a>
              </li> -->
              <!-- End Home -->

              <!-- Pages -->
              <li class="nav-item hs-has-sub-menu u-header__nav-item"
                  data-event="hover"
                  data-animation-in="slideInUp"
                  data-animation-out="fadeOut">
                <a id="pagesMegaMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="pagesSubMenu">Aanbod</a>

                <!-- Pages - Submenu -->
                <ul id="pagesSubMenu" class="hs-sub-menu u-header__sub-menu" aria-labelledby="pagesMegaMenu" style="min-width: 230px;">
                  <li><a class="nav-link u-header__sub-menu-nav-link" href="products-grid.html">Aanbod bedrijfsauto's</a></li>
                  <li><a class="nav-link u-header__sub-menu-nav-link" href="products-grid.html">Aanbod personenauto's</a></li>
                  <li><a class="nav-link u-header__sub-menu-nav-link" href="single-product.html">Specifieke auto</a></li>
                </ul>
                <!-- End Pages - Submenu -->
              </li>
              <!-- End Pages -->

              <!-- Lease calculator -->
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="">Lease calculator</a>
              </li>
              <!-- End Lease calculator -->

              <!-- F.A.Q. -->
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="">F.A.Q.</a>
              </li>
              <!-- End F.A.Q. -->

              <!-- Contact -->
              <li class="nav-item u-header__nav-item">
                <a class="nav-link u-header__nav-link" href="">Contact</a>
              </li>
              <!-- End Contact -->

              <!-- Button -->
              <li class="nav-item u-header__nav-last-item">
                <a class="btn btn-sm btn-primary transition-3d-hover" href="" target="_blank">
                  Brochure
                </a>
              </li>
              <!-- End Button -->
            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <div class="d-none d-lg-block">
  <br><br><br>
  </div>

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- Hero Section -->
    <div class="container space-top-1 space-top-sm-2">
      <div class="row">
        <div class="col-lg-7 mb-7 mb-lg-0">
          <div class="pr-lg-4">
            <div class="position-relative">
              <!-- Main Slider -->
              <div id="heroSlider" class="js-slick-carousel u-slick border rounded"
                   data-fade="true"
                   data-infinite="true"
                   data-autoplay-speed="7000"
                   data-arrows-classes="d-none d-sm-inline-block u-slick__arrow u-slick__arrow--flat-white content-centered-y shadow-soft rounded-circle"
                   data-arrow-left-classes="fas fa-arrow-left u-slick__arrow-inner u-slick__arrow-inner--left ml-3"
                   data-arrow-right-classes="fas fa-arrow-right u-slick__arrow-inner u-slick__arrow-inner--right mr-3"
                   data-nav-for="#heroSliderNav">
                <div class="js-slide">
                  <img class="img-fluid w-100 rounded" src="../../assets/img/cars/polo-left.jpg" alt="Image Description">
                </div>
                <div class="js-slide">
                  <img class="img-fluid w-100 rounded" src="../../assets/img/cars/polo-front.jpg" alt="Image Description">
                </div>
                <div class="js-slide">
                  <img class="img-fluid w-100 rounded" src="../../assets/img/cars/polo-right.jpg" alt="Image Description">
                </div>
                <div class="js-slide">
                  <img class="img-fluid w-100 rounded" src="../../assets/img/cars/polo-inside.jpg" alt="Image Description">
                </div>
              </div>
              <!-- End Main Slider -->

              <!-- Slider Nav -->
              <div class="position-absolute bottom-0 right-0 left-0 px-4 py-3">
                <div id="heroSliderNav" class="js-slick-carousel u-slick u-slick--gutters-1 u-slick--transform-off max-width-27 mx-auto"
                     data-slides-show="3"
                     data-infinite="true" 
                     data-autoplay-speed="7000"
                     data-is-thumbs="true"
                     data-is-thumbs-progress="true"
                     data-thumbs-progress-options='{
                       "color": "#377DFF",
                       "width": 8
                     }'
                     data-thumbs-progress-container=".js-slick-thumb-progress"
                     data-nav-for="#heroSlider">
                  <div class="js-slide p-1">
                    <a class="js-slick-thumb-progress position-relative d-block u-avatar border rounded-circle p-1" href="javascript:;">
                      <img class="img-fluid rounded-circle" src="../../assets/img/cars/polo-left.jpg" alt="Image Description">
                    </a>
                  </div>
                  <div class="js-slide p-1">
                    <a class="js-slick-thumb-progress position-relative d-block u-avatar border rounded-circle p-1" href="javascript:;">
                      <img class="img-fluid rounded-circle" src="../../assets/img/cars/polo-front.jpg" alt="Image Description">
                    </a>
                  </div>
                  <div class="js-slide p-1">
                    <a class="js-slick-thumb-progress position-relative d-block u-avatar border rounded-circle p-1" href="javascript:;">
                      <img class="img-fluid rounded-circle" src="../../assets/img/cars/polo-right.jpg" alt="Image Description">
                    </a>
                  </div>
                  <div class="js-slide p-1">
                    <a class="js-slick-thumb-progress position-relative d-block u-avatar border rounded-circle p-1" href="javascript:;">
                      <img class="img-fluid rounded-circle" src="../../assets/img/cars/polo-inside.jpg" alt="Image Description">
                    </a>
                  </div>
                </div>
              </div>
              <!-- End Slider Nav -->
            </div>
          </div>
        </div>

        <!-- Product Description -->
        <div class="col-lg-5">

          <!-- Title -->
          <div class="mb-5">
            <h1 class="h3 font-weight-medium">Volkswagen Polo 2018</h1>
            <p>Polo uit 2018 met 21.062km op de teller, handgeschakeld, benzine</p>
          </div>
          <!-- End Title -->

          <!-- Price -->
          <div class="mb-5">
            <h2 class="font-size-1 text-secondary font-weight-medium mb-0">Prijs per maand:</h2>
            <span class="font-size-2 font-weight-medium">€ 160</span>
            <span class="text-secondary ml-2"><del>€ 200</del></span>
          </div>
          <!-- End Price -->

          <!-- Quantity -->
          <div class="border rounded py-2 px-3 mb-3">
            <div class="js-quantity row align-items-center">
              <div class="col-7">
                <small class="d-block text-secondary font-weight-medium">Looptijd in maanden:</small>
                <input class="js-result form-control h-auto border-0 rounded p-0" type="text" value="60">
              </div>
              <div class="col-5 text-right">
                <a class="js-minus btn btn-icon btn-xs btn-outline-secondary rounded-circle" href="javascript:;">
                  <small class="fas fa-minus btn-icon__inner"></small>
                </a>
                <a class="js-plus btn btn-icon btn-xs btn-outline-secondary rounded-circle" href="javascript:;">
                  <small class="fas fa-plus btn-icon__inner"></small>
                </a>
              </div>
            </div>
          </div>
          <!-- End Quantity -->

          <!-- Accordion -->
          <div id="shopCartAccordion" class="accordion mb-5">
            <!-- Card -->
            <div class="card">
              <div class="card-header card-collapse" id="shopCardHeadingOne">
                <h3 class="mb-0">
                  <button type="button" class="btn btn-link btn-block card-btn collapsed"
                          data-toggle="collapse"
                          data-target="#shopCardOne"
                          aria-expanded="false"
                          aria-controls="shopCardOne">
                    <span class="row align-items-center">
                      <span class="col-9">
                        <span class="media align-items-center">
                          <span id="icon65" class="svg-preloader ie-height-48 w-100 max-width-6 mr-3">
                            <img class="js-svg-injector" src="../../assets/svg/icons/icon-65.svg" alt="SVG"
                                 data-parent="#icon65">
                          </span>
                          <span class="media-body">
                            <span class="d-block font-size-1 font-weight-medium">Rij binnen een week!</span>
                          </span>
                        </span>
                      </span>
                      <span class="col-3 text-right">
                        <span class="card-btn-arrow">
                          <span class="fas fa-arrow-down small"></span>
                        </span>
                      </span>
                    </span>
                  </button>
                </h3>
              </div>
              <div id="shopCardOne" class="collapse" aria-labelledby="shopCardHeadingOne" data-parent="#shopCartAccordion">
                <div class="card-body">
                  <p class="small mb-0">Ons simpele bestel proces zorgt er voor dat u volgende week al in deze polo kunt rijden.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->

            <!-- Card -->
            <div class="card">
              <div class="card-header card-collapse" id="shopCardHeadingTwo">
                <h4 class="mb-0">
                  <button type="button" class="btn btn-link btn-block card-btn collapsed"
                          data-toggle="collapse"
                          data-target="#shopCardTwo"
                          aria-expanded="false"
                          aria-controls="shopCardTwo">
                    <span class="row align-items-center">
                      <span class="col-9">
                        <span class="media align-items-center">
                          <span id="icon64" class="svg-preloader ie-height-48 w-100 max-width-6 mr-3">
                            <img class="js-svg-injector" src="../../assets/svg/icons/icon-64.svg" alt="SVG"
                                 data-parent="#icon64">
                          </span>
                          <span class="media-body">
                            <span class="d-block font-size-1 font-weight-medium">Lease TerShui ruilgarantie</span>
                          </span>
                        </span>
                      </span>
                      <span class="col-3 text-right">
                        <span class="card-btn-arrow">
                          <span class="fas fa-arrow-down small"></span>
                        </span>
                      </span>
                    </span>
                  </button>
                </h4>
              </div>
              <div id="shopCardTwo" class="collapse" aria-labelledby="shopCardHeadingTwo" data-parent="#shopCartAccordion">
                <div class="card-body">
                  <p class="small mb-0">In tegenstelling tot andere leasemaatschapijen kan je bij ons gemakkelijk een leaseauto ruilen voor een soortgelijke auto in de pool.</p>
                </div>
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- End Accordion -->

          <div class="mb-4">
            <button type="button" class="btn btn-block btn-primary btn-pill transition-3d-hover">Vraag de offerte aan</button>
          </div>

          <!-- Help Link -->
          <div class="media align-items-center">
            <span id="icon4" class="svg-preloader ie-height-48 w-100 max-width-6 mr-2">
              <img class="js-svg-injector" src="../../assets/svg/icons/icon-4.svg" alt="SVG"
                   data-parent="#icon4">
            </span>
            <div class="media-body text-secondary small">
              <span class="font-weight-medium mr-1">Vragen?</span>
              <a class="link-muted" href="#">Chat met een van onze medewerkers</a>
            </div>
          </div>
          <!-- End Help Link -->
        </div>
        <!-- End Product Description -->
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- Product Description Section -->
    <div class="container space-top-2 space-lg-3">
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <div class="pr-lg-4">
            <h3 class="h5 font-weight-medium">Details</h3>
            <p>De zesde generatie Polo is ruimer, sportiever en standaard luxer uitgerust dan ooit. Deze Volkswagen klassieker is rijk aan innovaties die elke rit aangenamer en veiliger maken. Adaptive Cruise Control bijvoorbeeld, of automatische airconditioning 'Climatronic'. En dat alles tegen een verrassend lage instapprijs.</p>
          </div>
        </div>

        <div class="col-md-6 mb-5 mb-md-0">
          <h3 class="h5 font-weight-medium">Material and care</h3>

          <div class="row">
            <div class="col-sm-6">
              <ul class="text-secondary pl-3 mb-0">
                <li class="py-1">Airconditioning handbediend (Climatic)</li>
                <li class="py-1">Automatische afstandsregeling (Adaptive Cruise Control) vanaf 90pk</li>
                <li class="py-1">Dagrijverlichting LED, kentekenplaatverlichting LED</li>
                <li class="py-1">16,5 cm kleuren touchscreen in de middenconsole</li>
              </ul>
            </div>

            <div class="col-sm-6">
              <ul class="text-secondary pl-3 mb-0">
                <li class="py-1">Radio-en multimediasysteem 'Composition Colour'</li>
                <li class="py-1">Stuurwiel, schakelpookknop en handremgreep met leder bekleed</li>
                <li class="py-1">Middenarmsteun</li>
                <li class="py-1">Bekleding, stof 'Slash'</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Product Description Section -->

    <!-- Product Review Section -->
    <div class="container">
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-5 space-1 space-lg-2">
          <h3 class="font-weight-medium mb-4">Lekker rijden</h3>
          <p>Naar Duitsland.</p>
          <p>Ja toch.</p>
        </div>

        <div class="col-lg-6">
          <div class="bg-img-hero-center h-100 min-height-450 rounded" style="background-image: url(../../assets/img/cars/polo-ride2.jpg);"></div>
        </div>
      </div>

      <div class="row justify-content-lg-between align-items-lg-center space-top-2 space-top-lg-3">
        <div class="col-lg-5 order-lg-2 space-1 space-lg-2">
          <div class="mb-6">
            <h3 class="font-weight-medium mb-4">Wooww</h3>
            <p>gas.</p>
            <p>geven.</p>
          </div>
        </div>

        <div class="col-lg-6 order-lg-1">
          <div class="bg-img-hero-center h-100 min-height-450 rounded" style="background-image: url(../../assets/img/cars/polo-ride1.jpg);"></div>
        </div>
      </div>
    </div>
    <!-- End Product Review Section -->

    <!-- Related Products Section -->
    <div class="container space-2 space-lg-3">
      <!-- Title -->
      <div class="w-md-80 w-lg-40 text-center mx-md-auto mb-9">
        <h2 class="h3 font-weight-medium">Meer auto's</h2>
      </div>
      <!-- End Title -->

      <div class="js-slick-carousel u-slick u-slick--gutters-3 u-slick--equal-height"
           data-slides-show="4"
           data-slides-scroll="3"
           data-infinite="true"
           data-pagi-classes="text-center u-slick__pagination mt-7 mb-0"
           data-responsive='[{
             "breakpoint": 992,
             "settings": {
               "slidesToShow": 3
             }
           }, {
             "breakpoint": 720,
             "settings": {
               "slidesToShow": 2
             }
           }, {
             "breakpoint": 480,
             "settings": {
               "slidesToShow": 1
             }
           }]'>
        <div class="js-slide">
        
          <!-- Product -->
          <div class="card text-center h-100">
            <div class="position-relative">
              <img class="card-img-top" src="../../assets/img/cars/Alfa.png" alt="Image Description">

              <div class="position-absolute top-0 left-0 pt-3 pl-3">
                <span class="badge badge-success badge-pill">Nieuw</span>
              </div>
              <div class="position-absolute top-0 right-0 pt-3 pr-3">
                <button type="button" class="btn btn-sm btn-icon btn-outline-secondary rounded-circle" data-toggle="tooltip" data-placement="top" title="Sla op voor later">
                  <span class="fas fa-heart btn-icon__inner"></span>
                </button>
              </div>
            </div>

            <div class="card-body pt-4 px-4 pb-0">
              <div class="mb-2">
                <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">Alfa Romeo MiTo</a>
                <h3 class="font-size-1 font-weight-normal">
                  <a class="text-secondary" href="single-product.html">92.123 km, handgeschakeld, benzine, februari 2015</a>
                </h3>
                <div class="d-block font-size-1">
                  <span class="font-weight-medium">€ 245 per maand</span>
                </div>
              </div>
            </div>

            <div class="card-footer border-0 pt-0 pb-4 px-4">
              <!-- <div class="mb-3">
                <a class="d-inline-flex align-items-center small" href="#">
                  <div class="text-warning mr-2">
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                  </div>
                  <span class="text-secondary">0</span>
                </a>
              </div> -->
              <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Bekijk</button>
            </div>
          </div>
          <!-- End Product -->
        </div>

        <div class="js-slide">
          <!-- Product -->
          <div class="card text-center h-100">
            <div class="position-relative"> 
              <img class="card-img-top" src="../../assets/img/cars/Audi.png" alt="Image Description">

              <div class="position-absolute top-0 left-0 pt-3 pl-3">
                <span class="badge badge-success badge-pill">Nieuw</span>
              </div>
              <div class="position-absolute top-0 right-0 pt-3 pr-3">
                <button type="button" class="btn btn-sm btn-icon btn-outline-secondary rounded-circle" data-toggle="tooltip" data-placement="top" title="Sla op voor later">
                  <span class="fas fa-heart btn-icon__inner"></span>
                </button>
              </div>
            </div>

            <div class="card-body pt-4 px-4 pb-0">
              <div class="mb-2">
                <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">Audi A8</a>
                <h3 class="font-size-1 font-weight-normal">
                  <a class="text-secondary" href="single-product.html">32.123 km, handgeschakeld, diesel, januari 2018</a>
                </h3>
                <div class="d-block font-size-1">  
                  <span class="font-weight-medium">€ 470 per maand</span>
                </div>
              </div>
            </div>

            <div class="card-footer border-0 pt-0 pb-4 px-4">
              <!-- <div class="mb-3">
                <a class="d-inline-flex align-items-center small" href="#">
                  <div class="text-warning mr-2">
                    <small class="far fa-star text-muted"></small> 
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                  </div>
                  <span class="text-secondary">0</span> 
                </a>
              </div> -->
              <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Bekijk</button>
            </div>
          </div>
          <!-- End Product -->
        </div>

        <div class="js-slide">
          <!-- Product -->
          <div class="card text-center h-100">
            <div class="position-relative">
              <img class="card-img-top" src="../../assets/img/cars/Citroen.png" alt="Image Description">

              <div class="position-absolute top-0 left-0 pt-3 pl-3">
                <span class="badge badge-success badge-pill">Nieuw</span>
              </div>
              <div class="position-absolute top-0 right-0 pt-3 pr-3">
                <button type="button" class="btn btn-sm btn-icon btn-outline-secondary rounded-circle" data-toggle="tooltip" data-placement="top" title="Sla op voor later">
                  <span class="fas fa-heart btn-icon__inner"></span>
                </button>
              </div>
            </div>

            <div class="card-body pt-4 px-4 pb-0">
              <div class="mb-2">
                <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">Citroen DS4</a>
                <h3 class="font-size-1 font-weight-normal">
                  <a class="text-secondary" href="single-product.html">44.927 km, automaat, benzine, september 2018</a>
                </h3>
                <div class="d-block font-size-1">
                  <span class="font-weight-medium">€ 478 per maand</span>
                </div>
              </div>
            </div>

            <div class="card-footer border-0 pt-0 pb-4 px-4">
              <!-- <div class="mb-3">
                <a class="d-inline-flex align-items-center small" href="#">
                  <div class="text-warning mr-2">
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                  </div> 
                  <span class="text-secondary">0</span>
                </a>
              </div> -->
              <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Bekijk</button>
            </div>
          </div>
          <!-- End Product -->
        </div>

        <div class="js-slide">
          <!-- Product -->
          <div class="card text-center h-100">
            <div class="position-relative"> 
              <img class="card-img-top" src="../../assets/img/cars/Dikke BMW.png" alt="Image Description">

              <div class="position-absolute top-0 left-0 pt-3 pl-3">
                <span class="badge badge-success badge-pill">Nieuw</span>
              </div>
              <div class="position-absolute top-0 right-0 pt-3 pr-3">
                <button type="button" class="btn btn-sm btn-icon btn-outline-secondary rounded-circle" data-toggle="tooltip" data-placement="top" title="Sla op voor later">
                  <span class="fas fa-heart btn-icon__inner"></span>
                </button>
              </div>
            </div>

            <div class="card-body pt-4 px-4 pb-0">
              <div class="mb-2">
                <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">BMW i8</a>
                <h3 class="font-size-1 font-weight-normal">
                  <a class="text-secondary" href="single-product.html">15.939 km, automaat, elektrisch, maart 2018</a>
                </h3>
                <div class="d-block font-size-1">
                  <span class="font-weight-medium">€ 875 per maand</span>
                </div>
              </div>
            </div>

            <div class="card-footer border-0 pt-0 pb-4 px-4">
              <!-- <div class="mb-3">
                <a class="d-inline-flex align-items-center small" href="#">
                  <div class="text-warning mr-2">
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                  </div>
                  <span class="text-secondary">0</span>
                </a>
              </div> -->
              <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Bekijk</button>
            </div>
          </div>
          <!-- End Product -->
        </div>

        <div class="js-slide">
          <!-- Product -->
          <div class="card text-center h-100">
            <div class="position-relative">
              <img class="card-img-top" src="../../assets/img/cars/Alfa.png" alt="Image Description">

              <div class="position-absolute top-0 left-0 pt-3 pl-3">
                <span class="badge badge-success badge-pill">Nieuw</span>
              </div>
              <div class="position-absolute top-0 right-0 pt-3 pr-3">
                <button type="button" class="btn btn-sm btn-icon btn-outline-secondary rounded-circle" data-toggle="tooltip" data-placement="top" title="Sla op voor later">
                  <span class="fas fa-heart btn-icon__inner"></span>
                </button>
              </div>
            </div>

            <div class="card-body pt-4 px-4 pb-0">
              <div class="mb-2">
                <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">Alfa Romeo MiTo</a>
                <h3 class="font-size-1 font-weight-normal">
                  <a class="text-secondary" href="single-product.html">92.123 km, handgeschakeld, benzine, februari 2015</a>
                </h3>
                <div class="d-block font-size-1">
                  <span class="font-weight-medium">€ 245 per maand</span>
                </div>
              </div>
            </div>

            <div class="card-footer border-0 pt-0 pb-4 px-4">
              <!-- <div class="mb-3">
                <a class="d-inline-flex align-items-center small" href="#">
                  <div class="text-warning mr-2">
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                    <small class="far fa-star text-muted"></small>
                  </div>
                  <span class="text-secondary">0</span>
                </a>
              </div> -->
              <button type="button" class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Bekijk</button>
            </div>
          </div>
          <!-- End Product -->
        </div>

      </div>
    </div>
    <!-- End Related Products Section -->

    <!-- Subscribe Section -->
    <div class="bg-light">
      <div class="container space-2">
        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-6">
            <!-- Title -->
            <div class="text-center mb-4">
              <h2 class="h1 font-weight-medium">Schrijf je in voor het laatste aanbod</h2>
              <p>Krijg speciale aanbiedingen en de nieuwste auto's direct in je inbox</p>
            </div>
            <!-- End Title -->

            <!-- Subscribe Form -->
            <form class="js-validate js-form-message w-lg-85 mx-lg-auto">
              <label class="sr-only" for="subscribeSrEmail">Email adres</label>
              <div class="input-group input-group-pill">
                <input type="email" class="form-control" name="email" id="subscribeSrEmail" placeholder="Email adres" aria-label="Email adres" aria-describedby="subscribeButton" required
                       data-msg="Voer a.u.b. een geldig email adres in">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary btn-sm-wide" id="subscribeButton">Schrijf je in</button>
                </div>
              </div>
            </form>
            <!-- End Subscribe Form -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Subscribe Section -->

    <!-- Clients Section -->
    <!-- <div class="container space-2">
      <div class="row justify-content-between text-center">
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/hollister.svg" alt="Image Description">
          </div>
        </div>
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/levis.svg" alt="Image Description">
          </div>
        </div>
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/new-balance.svg" alt="Image Description">
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/puma.svg" alt="Image Description">
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/nike.svg" alt="Image Description">
          </div>
        </div>
        <div class="col-4 col-lg-2">
          <div class="mx-4">
            <img class="u-clients" src="../../assets/svg/clients-logo/tnf.svg" alt="Image Description">
          </div>
        </div>
      </div>
    </div> -->
    <!-- End Clients Section -->

  </main>
  <!-- ========== END MAIN CONTENT ========== -->


  <!-- ========== FOOTER ========== -->
  <footer class="border-top">
    <div class="container">
      <div class="border-bottom">
        <div class="row justify-content-lg-between space-2 space-top-md-3">

          <div class="col-6 "> <!-- col-sm-4 col-lg-2 mb-7 mb-lg-0 -->
            <h4 class="h6">Bedrijf</h4>

            <!-- List Group -->
            <ul class="list-group list-group-flush list-group-borderless mb-0">
              <li><a class="list-group-item list-group-item-action" href="../pages/about-agency.html">Over ons</a></li>
              <li><a class="list-group-item list-group-item-action" href="../pages/services-agency.html">Services</a></li>
              <li><a class="list-group-item list-group-item-action" href="../pages/careers.html">Carriere</a></li>
              <li><a class="list-group-item list-group-item-action" href="../blog/grid-right-sidebar.html">Blog</a></li>
            </ul>
            <!-- End List Group -->
          </div>

          <div class="col-6">
            <h4 class="h6">Zekerheden</h4>

            <!-- List Group -->
            <ul class="list-group list-group-flush list-group-borderless mb-0">
              <li><a class="list-group-item list-group-item-action" href="../pages/contacts-agency.html">Contact</a></li>
              <li><a class="list-group-item list-group-item-action" href="../pages/faq.html">Help</a></li>
              <li><a class="list-group-item list-group-item-action" href="../pages/terms.html">Algemene voorwaarden</a></li>
              <li><a class="list-group-item list-group-item-action" href="../pages/privacy.html">Privacy</a></li>
            </ul>
            <!-- End List Group -->
          </div>


        </div>
      </div>

      <div class="text-center py-7">
        <!-- Copyright -->
        <p class="small text-muted mb-0">&copy; TerSchui. 2019</p>
        <!-- End Copyright -->
      </div>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->


  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#"
    data-position='{"bottom": 15, "right": 15 }'
    data-type="fixed"
    data-offset-top="400"
    data-compensation="#header"
    data-show-effect="slideInUp"
    data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory -->
  <script src="../../assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="../../assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="../../assets/vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="../../assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
  <script src="../../assets/vendor/svg-injector/dist/svg-injector.min.js"></script>
  <script src="../../assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="../../assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="../../assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="../../assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

  <!-- JS Front -->
  <script src="../../assets/js/hs.core.js"></script>
  <script src="../../assets/js/components/hs.header.js"></script>
  <script src="../../assets/js/components/hs.unfold.js"></script>
  <script src="../../assets/js/components/hs.focus-state.js"></script>
  <script src="../../assets/js/components/hs.malihu-scrollbar.js"></script>
  <script src="../../assets/js/components/hs.validation.js"></script>
  <script src="../../assets/js/components/hs.show-animation.js"></script>
  <script src="../../assets/js/components/hs.slick-carousel.js"></script>
  <script src="../../assets/js/components/hs.quantity-counter.js"></script>
  <script src="../../assets/js/components/hs.selectpicker.js"></script>
  <script src="../../assets/js/components/hs.svg-injector.js"></script>
  <script src="../../assets/js/components/hs.go-to.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(window).on('load', function () {
      // initialization of HSMegaMenu component
      $('.js-mega-menu').HSMegaMenu({
        event: 'hover',
        pageContainer: $('.container'),
        breakpoint: 767.98,
        hideTimeOut: 0
      });

      // initialization of svg injector module
      $.HSCore.components.HSSVGIngector.init('.js-svg-injector');
    });

    $(document).on('ready', function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($('#header'));

      // initialization of unfold component
      $.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        }
      });

      // initialization of malihu scrollbar
      $.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

      // initialization of forms
      $.HSCore.components.HSFocusState.init();

      // initialization of form validation
      $.HSCore.components.HSValidation.init('.js-validate', {
        rules: {
          confirmPassword: {
            equalTo: '#signupPassword'
          }
        }
      });

      // initialization of show animations
      $.HSCore.components.HSShowAnimation.init('.js-animation-link');

      // initialization of slick carousel
      $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

      // initialization of quantity counter
      $.HSCore.components.HSQantityCounter.init('.js-quantity');

      // initialization of select picker
      $.HSCore.components.HSSelectPicker.init('.js-select');

      // initialization of go to
      $.HSCore.components.HSGoTo.init('.js-go-to');
    });
  </script>
</body>
</html>